.page-title {
    margin-bottom: 40px;
    color: black;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 600;
}

.links {
    display: flex;
    margin-bottom: 20px;
}

.links button {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    padding: 8.5px 22px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-weight: 800;
}

.links button:active {
    border: none;
}

.links button:hover {
    transform: scale(1.05);
}

.links button svg {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.github {
    background-color: rgb(51, 51, 51);
}

.youtube {
    background-color: rgb(255, 0, 0);
}

.instagram {
    background-color: rgb(193, 53, 132);
}