.page-title {
    margin-bottom: 50px;
    color: black;
}

.options {
    display: grid;

    grid-template-columns: 0.5fr 0.5fr;
    column-gap: 30px;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
}

.options a {
    margin: 0;
    display: flex;
}

.option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(231, 231, 231);
    transition: all 0.2s ease-in-out;
    height: 200px;
}

.option:not(.unavailable) {
    cursor: pointer;
}

.unavailable {
    background-color: rgb(187, 187, 187);
    color: rgb(109, 109, 109);
}

.option:not(.unavailable):hover  {
    transform: scale(1.02);
}

.option .title {
    font-weight: 800;
    margin-bottom: 20px;
    font-size: 20px;
}

.option .desc {
    font-size: 16px;
    font-weight: 600;
}