@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: white;
}

button {
    border: none;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: white;
    transition: all 0.2 ease-in-out;
}

button:active {
    border: 2px solid black;
}