{% extends "base.html" %}

{% block content %}

<div class="canvas-holder">
    <canvas id="chart"></canvas>
</div>
<div class="right">
    <div class="slider-container">
        <span>Spacing: </span>
        <div class="slider-function">
            <input type="range" id="spacing-slider" class="slider" min="0" max="10" step="0.1" value="1" oninput="syncValue(this)">
            <input type="text" id="spacing-value" value="1" oninput="syncSlider(this)">
        </div>
    </div>
</div>

{% endblock %}