.hdtw-container {
    display: flex;
    justify-content: center;
    align-self: flex-start;
    align-content: start;
    width: 100%;
    flex-direction: column;
}

.hdtw-btn {
    border: none;
    background-color: lightcoral;
    color: white;
    width: 100%;
    justify-content: space-between;
}

.hdtw-btn:active {
    border: none;
}

.hdtw-btn:after {
    content: '\1F7A2';
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
    stroke: white;
    fill: white;
    border-color: white;

}
  
.hdtw-btn.active:after {
    content: "\2012";
}

.content {
    padding: 0 10px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    display: flex;
    align-items: center;
}

.content span {
    display: block;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}